<div class="content">
    <div class="button-save" (click)="openDialog()"><button mat-flat-button>Cadastrar dados de saneamento</button></div>
    <table mat-table [dataSource]="saneamentoList" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element['id']}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef> Bairro </th>
            <td mat-cell *matCellDef="let element"> {{element['bairro']}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef> Cidade </th>
            <td mat-cell *matCellDef="let element"> {{element['cidade']}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="agua_potavel">
            <th mat-header-cell *matHeaderCellDef> Tem água encanda ? </th>
            <td mat-cell *matCellDef="let element"> {{element['agua_potavel']? "Sim" : "Não"}} </td>
        </ng-container>

        <ng-container matColumnDef="coleta_lixo">
            <th mat-header-cell *matHeaderCellDef> Tem coleta de lixo ? </th>
            <td mat-cell *matCellDef="let element"> {{element['coleta_lixo']? "Sim" : "Não"}} </td>
        </ng-container>

        <ng-container matColumnDef="instalacoes_sanitarias">
            <th mat-header-cell *matHeaderCellDef> Tem esgoto tratado ? </th>
            <td mat-cell *matCellDef="let element"> {{element['instalacoes_sanitarias']? "Sim" : "Não"}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="action" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="deleteSaneamento(element['id'])" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Deletar</span>
                    </button>
                </mat-menu>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</div>